/*Estilos generales*/
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box; /*logra que el padding funcione bien*/
  background-color: #049c91
}

body{
  font-family: sans-serif;
}

.contenedor{
  width: 1200px;
  margin: 0 auto;
}

/*Header*/
.header .topHeader{
  padding: 6px 0;
  font-size: 12px;
  border-bottom: 1px solid #000000;
  background: #9f92c8;
  overflow:hidden;

}

.header .topHeader .contenedor .topMenu{
  float: left;
}

.header .topHeader .contenedor .topMenu ul{
  list-style: none;
}

.header .topHeader .contenedor .topMenu ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 15px;
  display: inline-block;
}

.header .titulo{
  margin: 35px 0;
  text-align: center;

}

.header .titulo .contenedor h1 a{
  text-decoration: none;
  color: #ffffff;
  font-size: 60px;
  display: inline-block;
  padding: 30px 0;
  font-weight: 300;

}
/*
.header .titulo .contenedor h1 a{
  color: #8b919c
}
*/

/*main*/
/*portada*/
.main .portada{
  padding-bottom: 20px;
  border-bottom: 1px solid #000000;
}

.main .portada .contenedor .portadaPrincipal{
  width: 100%;
}

.main .portada .contenedor .portadaPrincipal img{
  width: 100%;
}
/*Cursos*/
/*---imagen redonda*/
.imgRedonda {
    width:300px;
    height:300px;
    border-radius:150px;
}
/*---imagen redonda*/
.main .cursos{
.main .cursos{
  background: #049c91;
  padding: 40px 0;
}
.main .cursos .contenedor{
  overflow: hidden;
  width: 100%;
}

.main .cursos .contenedor .articulos{
  background: #049c91;
  padding: 60px 10px;
  border: 1px solid #000000;
  margin-bottom: 30px;
}
.main .cursos .contenedor .articulos .articulo1{
  float: left;
  width: 50%;
  margin-bottom: 20px
}

.main .cursos .contenedor .articulos .articulo1 .titulo {
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
}

.main .cursos .contenedor .articulos .articulo1 img{
  width: 60%;
  margin-bottom: 20px;
  padding: 0 10px
}

.main .cursos .contenedor .articulos .articulo1 .texto-articulo1{
  padding: 0 20px;
  text-align: justify;
}

.main .cursos .contenedor .articulos .articulo1 .texto-articulo1 p{
  margin-bottom: 20px;
  color: #ffffff;
}

.main .cursos .contenedor .articulos .articulo2{
  float: right;
  width: 50%;
}

.main .cursos .contenedor .articulos .articulo2 .titulo {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.main .cursos .contenedor .articulos .articulo2 img{
  width: 60%;
  margin-bottom: 20px;
  object-position: center;
}

.main .cursos .contenedor .articulos .articulo2 .texto-articulo2{
  padding: 0 20px;
  text-align: justify;
}

.main .cursos .contenedor .articulos .articulo2 .texto-articulo2 p{
  margin-bottom: 20px;
  color: #ffffff;
}


.footer .topMenu ul{
  list-style: none;
}

.footer{
  padding: 6px 0;
  font-size: 12px;
  border-bottom: 1px solid #000000;
  background: #049c91;
  overflow:hidden;
  border-color: #000000

}

.footer .topMenu ul li{
  float: left;
}

.footer .topMenu ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 15px;
  display: inline-block;
}

.footer .topMenu ul li a:hover{
  color: #ffffff;
}

.footer .topRedes ul{
  list-style: none;
}
.footer .topRedes ul li{
  float: right;
}

.footer .topRedes ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 15px;
  display: inline-block;
}

.footer .topRedes ul li a:hover{
  color: #ffffff;
}

.footer p{
  padding: 10px 15px;
  color: #ffffff
}
